In [1]:
print("Hello, World")

Hello, World

In [ ]:
def add(a : int , b : int) -> int:
    return a + b

In [3]:
add(1, 2)

3

In [ ]:
def mul(a : int, b : int) -> int:
    return a * b

In [6]:
mul(3, 4)

12

In [ ]:
def div(a : int, b : int) -> int:
    if b == 0:
        raise ZeroDivisionError
    return a / b

In [7]:
div(1, 0)

ZeroDivisionError:

In [8]:
div(3, 2)

1.5

In [9]:
def even_or_odd(num : int) -> str:
    if num % 2 == 0:
        return "even" 
    else:
        return "odd"

In [10]:
even_or_odd(2)

'even'

In [11]:
even_or_odd(5)

'odd'

In [12]:
def is_prime(num : int) -> bool:
    num_sqrt = int(num**0.5)
    for i in range(2, num_sqrt):
        if num % i == 0:
            return False 
        
    return True

In [13]:
is_prime(3)

True

In [14]:
is_prime(10)

False

In [19]:
nums = [1, 2, 3, 4, 5]

In [20]:
nums = 2 * nums

In [21]:
nums

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [22]:
nums += nums

In [23]:
nums

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [26]:
even_numbers_below_100 = [i for i in range(101) if i % 2 == 0]

In [27]:
even_numbers_below_100

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [28]:
odd_numbers = [i for i in range(1, 101) if i % 2 != 0]

In [29]:
odd_numbers

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [30]:
num_to_square_below_100 = {i : i*i for i in range(1, 101)}

In [31]:
num_to_square_below_100

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225,
 16: 256,
 17: 289,
 18: 324,
 19: 361,
 20: 400,
 21: 441,
 22: 484,
 23: 529,
 24: 576,
 25: 625,
 26: 676,
 27: 729,
 28: 784,
 29: 841,
 30: 900,
 31: 961,
 32: 1024,
 33: 1089,
 34: 1156,
 35: 1225,
 36: 1296,
 37: 1369,
 38: 1444,
 39: 1521,
 40: 1600,
 41: 1681,
 42: 1764,
 43: 1849,
 44: 1936,
 45: 2025,
 46: 2116,
 47: 2209,
 48: 2304,
 49: 2401,
 50: 2500,
 51: 2601,
 52: 2704,
 53: 2809,
 54: 2916,
 55: 3025,
 56: 3136,
 57: 3249,
 58: 3364,
 59: 3481,
 60: 3600,
 61: 3721,
 62: 3844,
 63: 3969,
 64: 4096,
 65: 4225,
 66: 4356,
 67: 4489,
 68: 4624,
 69: 4761,
 70: 4900,
 71: 5041,
 72: 5184,
 73: 5329,
 74: 5476,
 75: 5625,
 76: 5776,
 77: 5929,
 78: 6084,
 79: 6241,
 80: 6400,
 81: 6561,
 82: 6724,
 83: 6889,
 84: 7056,
 85: 7225,
 86: 7396,
 87: 7569,
 88: 7744,
 89: 7921,
 90: 8100,
 91: 8281,
 92: 8464,
 93: 8649,
 94: 8836,
 95: 9025,
 96: 9216,
 97: 9409,
 98: 9604,
 99: 9801,
 100: 10000}

In [32]:
class Person:
    def __init__(self, name, gender, age, nationality):
        self.name = name 
        self.gender = gender 
        self.age = age 
        self.nationality = nationality 
        self.is_minor = False if age > 18 else True 

    def __str__(self):
        return f"Person\nName:{self.name}\nGender:{self.gender}\nAge:{self.age}\nNationality:{self.nationality}"
    
    #__repr__ vs __str__
    
    def __repr__(self):
        return f"Person\nName:{self.name}\nGender:{self.gender}\nAge:{self.age}\nNationality:{self.nationality}"

In [33]:
class Student(Person):
    def __init__(self, name, gender, age, nationality, grade, institution_type, institution):
        super().__init__(name, gender, age, nationality)
        self.grade = grade 
        self.institution_type = institution_type
        self.institution = institution

    def __str__(self):
        return f"Student\nName:{self.name}\nGender:{self.gender}\nAge:{self.age}\nNationality:{self.nationality}"
    
    def __repr__(self):
        return f"Student\nName:{self.name}\nGender:{self.gender}\nAge:{self.age}\nNationality:{self.nationality}"

In [43]:
class Employee(Person):
    def __init__(self, name, gender, age, nationality, employer, years_of_experience):
        super().__init__(name, gender, age, nationality)
        self.employer = employer
        self.years_of_experience = years_of_experience

    def __str__(self):
        return f"Employee\nName:{self.name}\nGender:{self.gender}\nAge:{self.age}\nNationality:{self.nationality}"
    
    def __repr__(self):
        return f"Employee\nName:{self.name}\nGender:{self.gender}\nAge:{self.age}\nNationality:{self.nationality}"

In [35]:
p1 = Person("John Doe", "M", 29, "USA")

In [36]:
print(p1)

Person
Name:John Doe
Gender:M
Age:29
Nationality:USA

In [37]:
p1

Person
Name:John Doe
Gender:M
Age:29
Nationality:USA

In [40]:
s1 = Student("John Doe Jr.", "M", 15, "USA", 9,"school", "Private")

In [41]:
s1

Student
Name:John Doe Jr.
Gender:M
Age:15
Nationality:USA

In [42]:
print(s1)

Student
Name:John Doe Jr.
Gender:M
Age:15
Nationality:USA

In [44]:
e1 = Employee("John Doe", "M", 29, "USA", "Example Org", 8)

In [45]:
e1

Employee
Name:John Doe
Gender:M
Age:29
Nationality:USA

In [46]:
print(e1)

Employee
Name:John Doe
Gender:M
Age:29
Nationality:USA

In [50]:
class Vector:
    def __init__(self, vec_list):
        self.vec = vec_list
        self.dim = len(vec_list)

    def __add__(self, other):
        if self.dim != other.dim:
            raise TypeError 
        
        return Vector([i + j for i, j in zip(self.vec , other.vec)])
    
    def __str__(self):
        return f"{self.vec}"
    
    def __repr__(self):
        return f"{self.vec}"

In [51]:
v1 = Vector([1, 2, 3])
v2 = Vector([2, 4, 6])

In [52]:
v1 + v2

[3, 6, 9]